:root {
    --main-color: black;
    --secondary-color: white;
    --hover-color: #0A58CA;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.dark {
    background-color: var(--main-color);

}

a:hover {
    color: var(--hover-color) !important;
}

h1 {
    color: var(--secondary-color);
}

.navbar-toggler-icon {
    font-size: 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

nav {
    border-bottom: 1px var(--secondary-color) solid;
    color: var(--secondary-color);

    #navbarSupportedContent {
        color: var(--secondary-color) !important;

        .nav-link {
            color: var(--secondary-color);
        }
    }

    .navbar-toggler {
        border-color: rgb(255, 255, 255);

    }

}

.card {
    margin: auto;
    margin-bottom: 100px !important;
    max-width: 1000px;
    min-height: 300px;
    align-items: center;
    background-color: var(--main-color) !important;
    color: var(--secondary-color);

    .card-text {
        align-self: center;
    }

    .row {
        padding: 50px;
    }

    img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        padding: 5px;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: .85;
        }
    }

    a {
        color: var(--secondary-color);
        text-decoration: none;

    }
}

.socio {
    a {
        text-decoration: none;
    }
}

video {
    object-fit: cover;
    height: 100%;

}

section.section {
    height: 100vh;
    position: relative;
    margin: 80px 0;

    h4 {
        text-transform: uppercase;
    }

    video {
        width: 100%;
    }

    img {
        position: absolute;
        right: 10%;
        top: 20%;
        width: 400px;

        animation: movingupdown 7s infinite;
    }

    .text {
        color: var(--secondary-color);
        position: absolute;
        bottom: 30%;
        left: 150px;
        animation: intro 1s ease-in-out;
        cursor: crosshair;


        h1 {
            animation: glow 10s ease-in-out infinite;
        }

        h4:hover {
            transition: all .2s ease-in-out;
            color: rgb(192, 192, 192);
            text-shadow: 0px 0px 20px rgb(255, 255, 255);
        }
    }
}

footer {

    h6,
    span {
        color: var(--secondary-color) !important;
    }

    p {
        color: rgb(206, 206, 206);
    }
}

#totoppls {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 1111;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--main-color);
    /* Set a background color */
    color: var(--secondary-color);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 22px;
    /* Increase font size */
    max-width: 50px;
    min-width: 60px;
}


#totoppls,
#dark,
#light {
    &:hover {
        background-color: var(--hover-color);
        /* Add a dark-grey background on hover */
    }
}

.btnz-cont {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 11111;
}

#dark,
#light {



    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    color: var(--secondary-color);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    /* Some padding */
    margin-bottom: 5px;
    border-radius: 10px;
    /* Rounded corners */
    font-size: 22px;
    /* Increase font size */
    max-width: 50px;
    min-width: 60px;

}


@media screen and (max-width:1000px) {
    section.section {
        margin: 0;

        .text {
            padding: 10px;
            left: 10px;
        }

        img {
            width: 300px;
            margin: auto;
            right: 10%;
            top: 20%;

        }
    }

}

@media screen and (max-width:600px) {

    #totoppls,
    #dark,
    #light {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 15px;
        max-width: 40px;
        min-width: 40px;
        border: 1px white solid;
    }
}

// @media screen and (max-width:700px) {
//     section.section{
//         .text{
//             left: 10px;
//         }
//     }
// }
@keyframes intro {
    from {
        opacity: .3;
        transform: translateX(-120%);
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes sd {
    from {
        transform: translateY(-100%);

    }

    to {
        transform: translateY(0);
    }
}

@keyframes movingupdown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes glow {
    0% {
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }

    50% {
        text-shadow: 0px 0px 50px rgb(252, 252, 252);
    }

    100% {
        text-shadow: 0px 0px 0px rgb(255, 255, 255);
    }
}