.sec1 {
    background: url("../../images/ourservicesfirstimage.jpg");
    height: 100vh;
    background-size: cover;

    .se1_txt {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 700px;

        h1 {
            background: var(--main-color);
            ;
            padding: 20px 70px;
            font-size: 62px;

        }

        p {
            color: var(--main-color);
            ;
            background: var(--secondary-color);
            ;
            padding: 20px 70px;
            width: 800px;
        }
    }
}

.sec2 {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 150px;

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
        padding: 0 1em 1em 1em;
        text-align: center;
    }

    .card {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        background: linear-gradient(#ffffff 50%, rgb(0, 0, 0) 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #1f194c;
        margin: 1em 0;
    }

    p {
        color: #575a7b;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }

    .icon-wrap-bg {
        background-color: var(--main-color);
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: var(--secondary-color);
        ;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.5s;
    }



    .card:hover {
        background-position: 0 100%;
    }

    .card:hover .icon-wrap-bg {
        background-color: var(--secondary-color);
        ;
        color: var(--main-color);
    }

    .card:hover h3 {
        color: var(--secondary-color);
        ;
    }

    .card:hover p {
        color: #f0f0f0;
    }

    @media screen and (min-width: 768px) {
        section {
            padding: 0 2em;
        }

        .column {
            flex: 0 50%;
            max-width: 50%;
        }
    }

    @media screen and (min-width: 992px) {
        section {
            padding: 1em 3em;
        }

        .column {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
}

@media screen and (max-width: 600px) {
    .sec1 .se1_txt {
        left: 5%;
        width: 400px;


    }

    .sec1 .se1_txt h1 {
        font-size: 32px;
        width: fit-content;
    }

    .sec1 .se1_txt p {
        font-size: 12px;
        width: fit-content;
        max-width: 440px;
        padding: 20px 18px;


    }
}