.header {
  height: 20vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header h1 {
  color: var(--main-color) !important;
}
.header .breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: var(main-color);
}
.header .breadcrumbs ul li {
  padding: 0 10px;
}

.post .sec1__post {
  width: 100%;
  height: 300px;
  background-image: url("../images/Programming2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.post .sec1__post .post__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.post .sec1__post .post__title h1 {
  padding: 10px;
  font-size: 52px;
  background: rgba(0, 0, 0, 0.562);
  margin: 0;
}

.post__info {
  margin-bottom: 60px;
}
.post__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: rgb(233, 233, 233);
  border-radius: 7px;
}
.post__info ul li {
  padding-left: 50px;
}

.comment-form {
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.comment-form label {
  color: var(--main-color);
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: var(--secondary-color);
  font-size: 16px;
  resize: none;
}

.comment-form button[type=submit] {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.comment-form button[type=submit]:hover {
  background-color: var(--hover-color);
}

.comments {
  color: var(--main-color);
  background: var(--secondary-color);
  min-height: 300px;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid var(--main-color);
  margin-top: 75px;
  margin-bottom: 40px;
}
.comments h3 {
  color: var(--main-color);
}

.display-comments {
  color: var(--main-color);
}
.display-comments .cmt {
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
}